<!--Name of Code artifact: Symptotrack.html
Description: This code is This page is responsible for providing easy access to our services through intuitive buttons and a user-friendly interface, ensuring a seamless experience for our visitors.
Authors: Freshta Z, Ava G, Sree K
Date Creation : October 2, 2023
Date Revised: December 1, 2023
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"> <!-- Set the character encoding to UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Define viewport settings for responsive design -->
    <meta name="description" content="Free Template"> <!-- Meta description for SEO -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.min.css"> <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css"> <!-- Include Bootstrap Grid CSS -->

    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../../static/css/normailze.css"> <!-- Include a custom stylesheet (normalize) -->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"> <!-- Include a custom stylesheet (style) -->
    <link rel="stylesheet" type="text/css" href="../../static/css/responsive.css"> <!-- Include a custom stylesheet (responsive) -->
    
    <!--Font-->
    <link rel="stylesheet" type="text/css" href="../../static/font/web-font.css"> <!-- Include web fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet"> <!-- Include Font Awesome icons -->

    <title>SymptoTrack</title> <!-- Set the title of the webpage -->
    <!-- Set the primary color -->
    <style>
      :root {
        --primary-color: #69218a; /* Default primary color */
      }
    </style>

    <link rel="icon" type="image/x-icon" href="../../static/favicon.ico"> <!-- Favicon for web page. -->
  </head>

  <body>
    <div class="main-container template">
      <!--Banner section-->
      <div class="banner">
        <div class="banner-overlay"></div> <!-- Overlay for the banner -->
        <div class="inside-container top-bar">
          <div class="row">
            <div class="col-md-4 top-bar-left order-2 order-md-12">
              <i class="fas fa-envelope-open-text"></i> 
              <a href="/about/">info.com</a> <!-- Contact email link -->
            </div>    
            <div class="col-md-4 logo order-1 order-md-12">
              <a href="/homepage/">
                <img class="logo-img" src="../../static/img/logo.png" alt="SymptoTrack Logo"> <!-- Logo image -->
              </a>
            </div> 
            <div class="col-md-4 top-bar-right order-3 order-md-12">
              <i class="fas fa-phone-alt"></i> 
              <a href="tel:+39.0874.484661">+1 (785)979-7294</a> <!-- Contact phone link -->
              <p id="date"></p>
            </div>       
          </div>      
          <div class="motivational-quote-container">
            <p class="motivational-quote" id="motivationalQuote"></p>
          </div>
          <script>
            // Fetch and display a motivational quote
            fetch('https://type.fit/api/quotes')
              .then(response => response.json())
              .then(data => {
                // Get a random quote from the array
                const randomIndex = Math.floor(Math.random() * data.length);
                const randomQuote = data[randomIndex].text;
        
                // Display the quote with white text
                const quoteElement = document.getElementById('motivationalQuote');
                quoteElement.textContent = randomQuote;
                quoteElement.style.color = 'Black'; // Set text color to white
                quoteElement.alignment = center;
              })
              .catch(error => console.error('Error fetching motivational quote:', error));
          </script>
        </div>
        
        <div class="inside-container banner-content">
          <div class="row">
            <div class="col-12 content-col">
              <h1 class="site-title">Be peaceful in mind and healthy in Body!</h1> <!-- Main site title -->
              <!-- <p class="site-title-desc">At solmen va esser necessi fa uniform grammatica, pronunciation plu sommun paroles.</p> Site title description -->
            <!-- Add a option to choose color -->
              <div class="color-picker-container">
                <label for="color-picker">Choose a color:</label>
                <input type="color" id="color-picker" value="#69218a">
              </div>
            </div>
             <!-- JavaScript Code for displaying current date-->
            <script>
              var n = new Date(); 
              var y = n.getFullYear(); //getting year
              var m = n.getMonth() + 1; //month
              var d = n.getDate(); //date
              document.getElementById("date").innerHTML = m + "/" + d + "/" + y;  //putting all together for the formatting
            </script>
          </div>
        </div>
      </div>
     
      <!--Service-->
      <!-- This code defines three "service" sections, each consisting of an SVG image, a title, and a description. Each section is contained within a <div> element with the class "col-lg-4" for layout purposes. The titles "Figure_1," "Figure_2," and "Figure_3" are displayed as links, and descriptions provide additional information about each service. Note that the SVG images are currently commented out and not displayed; to show the images, the comment tags around the SVG paths within the <g> elements should be removed. This code is intended to be part of a web page layout showcasing different features or offerings in a grid format. -->

      <div class="page-content">
        <div class="inside-container service-section">
          <div class="row service-detail">
          
              <div class="col-lg-4">
                <svg version="1.1" class="service-detail-img" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="0 0 90 65" style="enable-background:new 0 0 90 65;" xml:space="preserve">
                        <g id="Icon_3_">
                          <g>
                            <!--
                            <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FE86D4;" d="M76.92,39.764c-0.337,0-4.672-3.362-9.909-6.196
                              c2.071-6.184,2.881-12.203,2.881-12.646c0.37-0.369,0-1.108-0.37-1.478c-0.37-0.369-0.74-0.369-1.479-0.369
                              c-0.348,0.347-9.207,1.352-16.416,4.544c-2.682-4.936-5.582-8.782-5.778-8.978c-0.74-0.739-2.219-0.739-2.959,0
                              c-0.2,0.396-3.17,4.323-5.881,9.295c-7.187-3.195-15.964-4.492-16.312-4.492c-0.37-0.369-1.11,0-1.479,0.37
                              c-0.37,0.369-0.37,0.739-0.37,1.478c0,0.428,0.747,6.037,2.659,11.977c-5.763,2.889-10.076,6.495-10.427,6.495
                              c-0.37,0.369-0.74,0.739-0.74,1.478c0,0.739,0.37,1.108,0.74,1.478c0.74,0.369,13.686,10.344,22.933,10.344
                              c4.701,0,7.979-1.411,9.798-4.064h0.47c1.964,2.653,5.001,4.064,9.706,4.064c9.247,0,22.563-9.975,22.933-10.344
                              c0.37-0.37,0.74-0.739,0.74-1.478C77.66,40.503,77.29,40.134,76.92,39.764z M65.823,23.139c-0.74,4.803-2.959,14.408-7.398,18.842
                              c-1.539,1.537-2.815,2.346-3.921,2.741c1.036-1.685,1.701-3.949,1.701-7.175c0-3.318-1.295-7.16-2.967-10.74
                              C57.512,24.765,62.846,23.801,65.823,23.139z M35.344,27.24c-1.59,3.44-2.811,7.094-2.811,10.307c0,3.506,0.762,5.919,1.968,7.633
                              c-1.165-0.355-2.519-1.164-4.187-2.83c-4.439-4.064-6.658-14.039-7.398-18.842C25.879,24.166,30.887,25.411,35.344,27.24z
                              M34.379,49.37c-5.915,0-14.422-5.542-18.491-8.128c1.805-1.201,4.346-2.649,7.021-4.138c1.254,3.019,2.833,5.856,4.816,7.832
                              C30.314,47.522,33.273,49,35.862,49c0.877,0,1.953-0.299,2.926-0.761c0.196,0.063,0.388,0.126,0.588,0.177
                              C38.307,48.974,36.743,49.37,34.379,49.37z M44.37,44.937c-4.809,0-8.138-0.37-8.138-7.758c0-5.911,5.548-14.408,8.138-18.472
                              c2.589,4.064,8.138,12.561,8.138,18.472C52.507,44.567,49.178,44.937,44.37,44.937z M53.617,49.37
                              c-2.193,0-3.628-0.34-4.642-0.835c0.503-0.118,0.995-0.266,1.465-0.443c0.84,0.322,1.705,0.54,2.437,0.54
                              c2.589,0,5.179-1.109,8.138-4.064c1.861-1.858,3.362-4.474,4.579-7.285c2.719,1.426,5.075,2.808,6.518,3.96
                              C68.412,43.828,59.535,49.37,53.617,49.37z"/>
                          </g> -->
                        </g>
                        </svg>
                <a href="#"><h3 class="service-title">Figure_1</h3></a>
                <p class="service-desc">It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
            </div>
            <div class="col-lg-4">
              <svg version="1.1" class="service-detail-img" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 90 65" style="enable-background:new 0 0 90 65;" xml:space="preserve">
              <g id="Icon_4_">
                <g> <!--
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FE86D4;" d="M65.393,41.745c-0.073,0-23.313,0-23.313,0L26.667,28.974
                    v-3.708c0-1.309-1.066-2.351-2.351-2.351c-1.309,0-2.351,1.066-2.351,2.351V53.79c0,1.309,1.066,2.351,2.351,2.351
                    c1.309,0,2.351-1.066,2.351-2.351V35.081l13.062,10.833c0.412,0.339,0.945,0.557,1.502,0.557h21.786v7.319
                    c0,1.309,1.066,2.351,2.351,2.351c1.309,0,2.351-1.066,2.351-2.351v-9.694C67.743,42.812,66.677,41.745,65.393,41.745z
                    M27.83,22.527c2.229,0.049,4.12-1.696,4.168-3.926c0.048-2.23-1.745-4.071-3.999-4.12c-2.254-0.048-4.12,1.697-4.168,3.926
                    C23.783,20.637,25.577,22.479,27.83,22.527z M28.994,23.981c-0.194,0.218-0.339,0.46-0.436,0.727
                    c-0.388,0.751-0.557,2.06,0.582,3.078L42.08,39.128c0.436,0.364,2.181,1.139,3.999,0.145c2.666-1.478,10.469-6.301,10.469-6.301
                    l7.125,6.786c0.872,0.824,2.254,0.8,3.078-0.073c0.824-0.872,0.8-2.254-0.073-3.078l-8.336-7.925
                    c-0.703-0.679-1.769-0.8-2.617-0.291l-9.306,5.574c-0.048-0.048-0.097-0.097-0.17-0.145L34.664,24.66l3.902-4.435
                    c0.63,0.242,1.309,0.364,2.011,0.364c3.247,0,5.865-2.617,5.865-5.865c0-3.248-2.617-5.865-5.865-5.865
                    c-3.247,0-5.865,2.617-5.865,5.865c0,0.8,0.17,1.551,0.46,2.254L28.994,23.981z M40.577,12.882c1.018,0,1.842,0.824,1.842,1.842
                    s-0.824,1.842-1.842,1.842c-1.018,0-1.842-0.824-1.842-1.842S39.584,12.882,40.577,12.882z"/>
                </g> -->
              </g>
              </svg>
              <a href="#"><h3 class="service-title">Figure_2</h3></a>
              <p class="service-desc">It va esser tam simplic quam Occidental A un gleso va semblar simplificat.</p>
            </div>
            <div class="col-lg-4">
              <svg version="1.1" class="service-detail-img" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 90 65" style="enable-background:new 0 0 90 65;" xml:space="preserve">
              <g id="Icon_5_">
                <g> <!--
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FE86D4;" d="M73.807,31.482H53.889c-0.69,0,0-0.638,0-0.638l-0.007-0.002
                    c0.315-0.291,0.561-0.559,0.741-0.764c3.18-4.2,0.47-10.455,0.054-11.352c-1.486-2.617-3.294-4.055-5.108-4.788
                    c-0.141-0.052-0.278-0.1-0.442-0.171c-0.818-0.302-1.771-0.591-2.825-0.808c-4.616-0.69-8.99,1.472-9.028,1.491
                    c-3.991,2.281-14.17,8.277-18.715,12.622c-0.222,0.208-0.44,0.424-0.651,0.652c-0.167,0.177-0.32,0.348-0.464,0.517
                    c-0.038,0.047-0.079,0.088-0.115,0.135c-0.135,0.165-0.261,0.328-0.373,0.485l0.031-0.013c-0.89,1.219-1.619,2.665-2.067,4.415
                    c-1.441,4.545,0.106,14.695,8.643,17.896c0.378,0.125,2.029,0.61,4.509,0.61h23.381c0.81-0.031,2.752-0.297,4.618-1.962
                    c0-0.002,0-0.002,0.003-0.004l17.4-15.578l0.498-0.446C76.441,31.566,73.807,31.482,73.807,31.482z M37.499,18.076
                    c0.056-0.033,8.455-4.878,12.948,0.829c0.593,0.821,1.215,1.823,1.695,2.909c0.046,0.157,1.35,4.826-0.808,7.232
                    c-0.021,0.021-0.037,0.046-0.058,0.065c-0.048,0.052-0.109,0.096-0.159,0.144c-0.189,0.177-0.389,0.354-0.613,0.523l-9.391,7.026
                    c0.226-4.088-1.45-8.173-2.297-9.533c-2.171-3.144-5.231-4.185-7.106-4.532c-0.584-0.102-1.678-0.122-1.678-0.122L37.499,18.076z
                    M67.862,35.813l-12.23,11.127c-1.897,1.723-3.909,2.027-4.804,2.07H27.525c-1.828,0-3.754-0.677-3.928-0.738
                    c-0.569-0.276-1.169-0.601-1.775-0.99c-6.676-4.279-4.672-12.448-4.347-13.615c0.007-0.019,0.011-0.037,0.018-0.057
                    c0.015-0.057,0.028-0.095,0.028-0.095l-0.002-0.001c1.435-4.548,4.818-7.862,11.184-8.055c0.795,0.015,3.099,0.203,5.148,1.757
                    c0.505,0.412,1.008,0.895,1.502,1.48c0.977,1.263,3.243,4.942,2.211,9.195c-0.831,2.789-2.038,3.994-3.701,5.115
                    c-1.665,1.123-4.966,2.156-8.067,0.258c-1.807-1.238-3.184-3.361-2.927-6.18c0.259-2.817,3.158-4.856,5.74-4.252
                    c2.584,0.603,4.106,4.481,1.32,6.034c-1.312,0.558-2.105,0.227-2.625-0.485l-0.001,0.004c0,0-0.747-0.696-1.695-0.266
                    c-0.938,0.428-0.637,1.764-0.633,1.787c1.023,1.506,2.989,2.632,5.936,1.591c0.679-0.239,1.232-0.614,1.691-1.066h0.007
                    c0,0,0.045-0.046,0.108-0.113c0.1-0.104,0.194-0.215,0.285-0.328c1.014-1.251,3.395-5.016-0.393-9.268
                    c-2.209-1.772-9.049-3.675-11.907,3.96c-0.106,0.252-0.201,0.511-0.283,0.784c-0.013,0.039-0.028,0.069-0.041,0.108
                    c0.003,0.002,0.003,0,0.005,0.002c-0.502,1.729-0.5,3.84,0.533,6.193c2.296,5.23,8.926,6.636,13.748,4.051
                    c0.874-0.468,1.665-1.047,2.368-1.713l-0.004,0.006l11.654-9.152c0,0,0.815-0.736,2.065-0.736h17.09
                    C69.5,34.224,68.059,35.629,67.862,35.813z"/>
                </g> -->
              </g>
              </svg>
              <a href="#"><h3 class="service-title">Figure_3</h3></a>
              <p class="service-desc">It va esser tam simplic quam Occidental A un gleso va semblar simplificat.</p>
            </div>
          </div>
        </div>
     
        <!--Buttons-->
        <!-- This section of the web page is dedicated to "Buttons" and features a grid layout with four columns, each representing a button. It begins with a title ("Buttons") and a section description. Inside the section, a grid layout is established using Bootstrap's "col-lg-3" class for each column. Each column contains a placeholder image, a link, a title ("Button"), and a description ("Button"). However, the specific content, functionality, and images for these buttons are not provided in the code and should be customized separately. This code serves as a template for creating and displaying button elements on the web page. -->

        <div class="trainer-section">
          <div class="row sections-detail">
            <div class="col-12">
              <h2 class="section-title">Our features</h2>
              <p class="section-title-desc"></p>
            </div>
          </div>
          <div class="inside-container">
            <div class="row trainer-col">
              <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../../static/img/journal.jpeg" class="trainer-in-img" alt="">
                </div>              
                <a href="/journal/"><h3 class="trainer-title">Journal</h3></a>
                <p class="trainer-desc">Declutter here! </p>
              </div>
              <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../../static/img/log.jpeg" class="trainer-in-img" alt="">
                </div>
                <a href="/log/"><h3 class="trainer-title">Log</h3></a>
                <p class="trainer-desc">Store here! </p>
              </div>
              <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../../static/img/meds.jpeg" class="trainer-in-img" alt="">

                </div>
                <a href="/meds_list/"><h3 class="trainer-title">Medications</h3></a>
                <p class="trainer-desc">Keep track or medications here!</p>
              </div>

              <!-- <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../static/img/stress.png" class="trainer-in-img" alt="">
                </div>
                <a href="#"><h3 class="trainer-title">Questionnaire</h3></a>
                <p class="trainer-desc">Answer some simple questions!</p>
              </div> -->
              
              <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../../static/img/stress.png" class="trainer-in-img" alt="">
                </div>
                <a href="#"><h3 class="trainer-title">Stress</h3></a>
                <p class="trainer-desc">Some extra resources for you!</p>
              </div>

              <!-- <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../static/img/stress.png" class="trainer-in-img" alt="">
                </div>
                <a href="#"><h3 class="trainer-title">Graph</h3></a>
                <p class="trainer-desc">See the data!</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>

        <!--Copyright-->
      <footer class="footer">
        <div class="copyright">
          <div class="inside-container">
            <div class="row">
              <div class="col-md-6 order-2 order-md-12">
                <p>&copy; 2023 All Rights Reserved. Created by SymptoTrack<a href="" class="created-by"></a></p> <!-- Copyright notice -->
              </div>
              <div class="col-md-6 social order-1 order-md-12">                
                <a href="#"><i class="fab fa-facebook-f"></i></a> <!-- Social media icons -->
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
              </div>
            </div>
        </div>
      </footer>
    </div>
    <!-- Optional JavaScript -->
    <script src="../../static/js/scripts.js"></script> <!-- establishes script.js connection, Sarah-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      const colorPicker = document.getElementById("color-picker");
    
      colorPicker.addEventListener("input", function () {
        const selectedColor = colorPicker.value;
        document.documentElement.style.setProperty("--primary-color", selectedColor);
      });
    </script>
    <script src="../../static/js/jquery.js"></script> <!-- new jquery 12.3, Sarah -->
    <script src="../../static/js/scripts.js"></script> <!-- establishes script.js connection, Sarah -->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
