<!--Name of Code artifact: Symptotrack.html
Description: This code is This page is responsible for providing easy access to our services through intuitive buttons and a user-friendly interface, ensuring a seamless experience for our visitors.
Authors: Freshta Z, Ava G, Sree K, Sarah M
Date Creation : October 2, 2023
Date Revised: March 10, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->

{% extends "base.html" %}


{% block content%}
     
      <!--Service-->
      <!-- This code defines three "service" sections, each consisting of an SVG image, a title, and a description. Each section is contained within a <div> element with the class "col-lg-4" for layout purposes. The titles "Figure_1," "Figure_2," and "Figure_3" are displayed as links, and descriptions provide additional information about each service. Note that the SVG images are currently commented out and not displayed; to show the images, the comment tags around the SVG paths within the <g> elements should be removed. This code is intended to be part of a web page layout showcasing different features or offerings in a grid format. -->

      <div class="page-content">
        <div class="inside-container service-section">
          <div class="row service-detail">
          
              <div class="col-lg-4">
                <svg version="1.1" class="service-detail-img" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="0 0 90 65" style="enable-background:new 0 0 90 65;" xml:space="preserve">
                        <g id="Icon_3_">
                          <g>
                        </g>
                        </g>
                        </svg>
                <a href="#"><h3 class="service-title">Figure_1</h3></a>
                <p class="service-desc">It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
            </div>
            <div class="col-lg-4">
              <svg version="1.1" class="service-detail-img" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 90 65" style="enable-background:new 0 0 90 65;" xml:space="preserve">
              <g id="Icon_4_">
                <g>
              </g>
              </g>
              </svg>
              <a href="#"><h3 class="service-title">Figure_2</h3></a>
              <p class="service-desc">It va esser tam simplic quam Occidental A un gleso va semblar simplificat.</p>
            </div>
            <div class="col-lg-4">
              <svg version="1.1" class="service-detail-img" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 90 65" style="enable-background:new 0 0 90 65;" xml:space="preserve">
              <g id="Icon_5_">
                <g>
              </g>
              </g>
              </svg>
              <a href="#"><h3 class="service-title">Figure_3</h3></a>
              <p class="service-desc">It va esser tam simplic quam Occidental A un gleso va semblar simplificat.</p>
            </div>
          </div>
        </div>
     
        <!--Buttons-->
        <!-- This section of the web page is dedicated to "Buttons" and features a grid layout with four columns, each representing a button. It begins with a title ("Buttons") and a section description. Inside the section, a grid layout is established using Bootstrap's "col-lg-3" class for each column. Each column contains a placeholder image, a link, a title ("Button"), and a description ("Button"). However, the specific content, functionality, and images for these buttons are not provided in the code and should be customized separately. This code serves as a template for creating and displaying button elements on the web page. -->

        <div class="trainer-section">
          <div class="row sections-detail">
            <div class="col-12">
              <h2 class="section-title">Our features</h2>
              <p class="section-title-desc"></p>
            </div>
          </div>
          <div class="inside-container">
            <div class="row trainer-col">
              <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../static/img/journal.jpeg" class="trainer-in-img" alt="">
                </div>              
                <a href="/journal/"><h3 class="trainer-title">Journal</h3></a>
                <p class="trainer-desc">Declutter here! </p>
              </div>
              <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../static/img/log.jpeg" class="trainer-in-img" alt="">
                </div>
                <a href="/log/"><h3 class="trainer-title">Log</h3></a>
                <p class="trainer-desc">Store here! </p>
              </div>
              <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../static/img/meds.jpeg" class="trainer-in-img" alt="">

                </div>
                <a href="/meds_list/"><h3 class="trainer-title">Medications</h3></a>
                <p class="trainer-desc">Keep track or medications here!</p>
              </div>

              <!-- <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../static/img/stress.png" class="trainer-in-img" alt="">
                </div>
                <a href="#"><h3 class="trainer-title">Questionnaire</h3></a>
                <p class="trainer-desc">Answer some simple questions!</p>
              </div> -->
              
              <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../static/img/stress.png" class="trainer-in-img" alt="">
                </div>
                <a href="/homepage/"><h3 class="trainer-title">Stress</h3></a>
                <p class="trainer-desc">Some extra resources for you!</p>
              </div>

              <!-- <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../static/img/stress.png" class="trainer-in-img" alt="">
                </div>
                <a href="#"><h3 class="trainer-title">Graph</h3></a>
                <p class="trainer-desc">See the data!</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>

{% endblock %}
