<!--Name of Code artifact: Symptotrack.html
Description: This code is responsible for getting the user name and password.
Authors: Freshta Z, Sree K, Ava G, Sarah M
Date Creation : September 20, 2023
Date Revised: February 25, 2024
Preconditions: Empty Strings are not allowed. Email and password required. Flask must be running for sign up page
and homepage to be accessed. Will return error if not running
Postconditions: No return values.
Any known faults: index will not lead to homepage anymore unless the flask project is running. Jqueries are failing to send responses

-->
<!-- This code is the HTML code for the head section of a web page. It includes meta tags for
character encoding, viewport settings, and description. It also includes links to external CSS files
for styling the page, as well as a link to an external font library. -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free Template">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css">

    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
    <!--Font-->
    <link rel="stylesheet" type="text/css" href="../static/font/web-font.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">

    <title>SymptoTrack</title> <!--Title of the web page.-->
    <link rel="icon" type="iamge/x-icon" href="../static/favicon.ico"> <!--Favicon for web page.-->
  </head>
  <body>
    <div class="main-container template">
      <!--Banner section-->
      <div class="banner">
        <div class="banner-overlay"></div>
        <div class="inside-container top-bar">
          <div class="row">
            <div class="col-md-4 top-bar-left order-2 order-md-12">
              <i class="fas fa-envelope-open-text"></i> 
              <a href="/about/">info.com</a>
            </div>    
            <div class="col-md-4 logo order-1 order-md-12">
              <a href="/">
                <img class="logo-img" src="../static/img/logo.png" alt="SymptoTrack Logo"> <!-- Logo image -->
              </a>
            </div> 
            <div class="col-md-4 top-bar-right order-3 order-md-12">
              <i class="fas fa-phone-alt"></i> 
              <a href="tel:+39.0874.484661">+1 (785)979-7294</a>
            </div>       
          </div>      
        </div>
        <div class="inside-container banner-content">
          <div class="row">
            <div class="col-12 content-col">
              <h1 class="site-title">Be peaceful in mind and healthy in Body!</h1>
              <p class="site-title-desc">At solmen va esser necessi fa uniform grammatica, pronunciation plu sommun paroles.</p>
            </div>
          </div>
        </div>
      </div>

 <!-- Login form -->
    <!-- Form section -->
    <div class="inside-container form-section">
      <div class="row">
        <div class="col-md-6">
            <form name="login_form">
            <div class="form-group">
              <label for="email">Email</label> <!-- Label for email input -->
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" required> <!-- Email input field -->
            </div>
            <div class="form-group">
              <label for="password">Password</label> <!-- Label for password input -->
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required autocomplete="off"> <!-- Password input field -->
            </div>
              <button id="loginBtn" class="btn btn-primary">Login</button>
              <a  class="btn btn-secondary" href="/signup/">Sign Up</a>
            <!-- <div class="form-group"> -->
                <!--<a href="#" class="forgot-password">Forgot Password?</a>-->
            </form>
        </div>
      </div>
    </div>

      <!--Copyright-->
      <footer class="footer">
        <div class="copyright">
          <div class="inside-container">
            <div class="row">
              <div class="col-md-6 order-2 order-md-12">
                <p>&copy; 2023 All Rights Reserved. Created by SymptoTrack <a href="" class="created-by"></a></p>
              </div>
              <div class="col-md-6 social order-1 order-md-12">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>    
    <!-- Optional JavaScript -->
    <script src="../static/js/jquery.js"></script> <!-- new jquery 12.3, Sarah -->
    <script src="../static/js/scripts.js"></script> <!-- establishes script.js connection, Sarah -->
     <script src="../static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
