<!--Name of Code artifact: log_options.html
Description: This code is responsible for showing two options for user, log symptoms on a scale or answer questionnaire
Authors: Ava Greene, Freshta Z
Date Creation : Dec 3, 2023
Date Revised: Dec 3, 2023
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"> <!-- Set the character encoding to UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Define viewport settings for responsive design -->
    <meta name="description" content="Free Template"> <!-- Meta description for SEO -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css"> <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css"> <!-- Include Bootstrap Grid CSS -->

    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/normailze.css"> <!-- Include a custom stylesheet (normalize) -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"> <!-- Include a custom stylesheet (style) -->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"> <!-- Include a custom stylesheet (responsive) -->
    
    <!--Font-->
    <link rel="stylesheet" type="text/css" href="../static/font/web-font.css"> <!-- Include web fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet"> <!-- Include Font Awesome icons -->

    <title>SymptoTrack</title> <!-- Set the title of the webpage -->
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico"> <!-- Favicon for web page. -->
  </head>
  <body>
    <div class="main-container template">
      <!--Banner section-->
      <div class="banner">
        <div class="banner-overlay"></div> <!-- Overlay for the banner -->
        <div class="inside-container top-bar">
          <div class="row">
            <div class="col-md-4 top-bar-left order-2 order-md-12">
              <i class="fas fa-envelope-open-text"></i> 
              <a href="mailto:info@webdomus.net">info.com</a> <!-- Contact email link -->
            </div>    
            <div class="col-md-4 logo order-1 order-md-12">
              <a href="Homepage.html">
                <img class="logo-img" src="../static/img/logo.png" alt="SymptoTrack Logo"> <!-- Logo image -->
              </a>
            </div> 
            <div class="col-md-4 top-bar-right order-3 order-md-12">
              <i class="fas fa-phone-alt"></i> 
              <a href="tel:+39.0874.484661">+1 (785)979-7294</a> <!-- Contact phone link -->
              <p id="date"></p>
            </div>       
          </div>      
        </div>
        <div class="inside-container banner-content">
          <div class="row">
            <div class="col-12 content-col">
              <h1 class="site-title">Be peaceful in mind and healthy in Body!</h1> <!-- Main site title -->
              <!-- <p class="site-title-desc">At solmen va esser necessi fa uniform grammatica, pronunciation plu sommun paroles.</p> Site title description -->
            </div>
             <!-- JavaScript Code for displaying current date-->
            <script>
              var n = new Date(); 
              var y = n.getFullYear(); //getting year
              var m = n.getMonth() + 1; //month
              var d = n.getDate(); //date
              document.getElementById("date").innerHTML = m + "/" + d + "/" + y;  //putting all together for the formatting
            </script>
          </div>
        </div>
      </div>
     
     

<!-- Section container for the symptom input feature -->
<div class="trainer-section">
  <!-- Title row for the symptom input section -->
  <div class="row sections-detail">
      <div class="col-12">
          <!-- Heading for the symptom input section -->
          <h2 class="section-title">Symptom Input</h2>
          <!-- Description for the symptom input section (currently empty) -->
          <p class="section-title-desc"></p>
      </div>
  </div>
  <!-- Container for the inner content of the symptom input section -->
  <div class="inside-container">
      <!-- Row containing the options -->
      <div class="row trainer-col">
          
          <!-- Column for the log option -->
          <div class="col-lg-6">
              <!-- Container for the image associated with the log option -->
              <div class="trainer-img">
                  <!-- Image for the log option -->
                  <img src="../static/img/red-purple.png" class="trainer-in-img" alt="">
              </div>
              <!-- Link and title for the log option -->
              <a href="symptom_input.html"><h3 class="trainer-title">Log</h3></a>
              <!-- Description for the log option -->
              <p class="trainer-desc">Log Symptom on a Scale</p>
          </div> 
          
          <!-- Column for the question option -->
          <div class="col-lg-6">
              <!-- Container for the image associated with the question option -->
              <div class="trainer-img">
                  <!-- Image for the question option -->
                  <img src="../static/img/red-purple.png" class="trainer-in-img" alt="">
              </div>
              <!-- Link and title for the question option -->
              <a href="questionnaire.html"><h3 class="trainer-title">Questionnaire</h3></a>
              <!-- Description for the question option -->
              <p class="trainer-desc">Answer Symptom Questions</p>
          </div>

      </div>
  </div>
</div>

        <!--Copyright-->
        <footer class="footer">
          <div class="copyright">
            <div class="inside-container">
              <div class="row">
                <div class="col-md-6 order-2 order-md-12">
                  <p>&copy; 2023 All Rights Reserved. Created by SymptoTrack<a href="" class="created-by"></a></p> <!-- Copyright notice -->
                </div>
                <div class="col-md-6 social order-1 order-md-12">                
                  <a href="#"><i class="fab fa-facebook-f"></i></a> <!-- Social media icons -->
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> <!-- Include jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> <!-- Include Popper.js library -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script> <!-- Include Bootstrap JavaScript -->
  </body>
</html>
        </footer>
      </div>    
      <!-- Optional JavaScript -->
      <script src="../static/js/script.js"></script> <!-- establishes script.js connection, Sarah -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> <!-- Include jQuery library -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> <!-- Include Popper.js library -->
      <script src="bootstrap/js/bootstrap.min.js"></script> <!-- Include Bootstrap JavaScript -->
    </body>
  </html>
