<!--Name of Code artifact: Symtotrack.html
Description: This code is responsible for getting the user First name, Last name, Email, and password.
Authors: Freshta Zaheer
Date Creation : Octuber 2, 2023
Date Revised: Octuber 6, 2023
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.



-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"> <!-- Set the character encoding to UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Define viewport settings for responsive design -->
    <meta name="description" content="Free Template"> <!-- Meta description for SEO -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css"> <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css"> <!-- Include Bootstrap Grid CSS -->

    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/normailze.css"> <!-- Include a custom stylesheet (normalize) -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"> <!-- Include a custom stylesheet (style) -->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"> <!-- Include a custom stylesheet (responsive) -->
    
    <!--Font-->
    <link rel="stylesheet" type="text/css" href="../static/font/web-font.css"> <!-- Include web fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet"> <!-- Include Font Awesome icons -->

    <title>SymptoTrack</title> <!-- Set the title of the webpage -->
    <link rel="icon" type="image/x-icon" href="../../favicon.ico"> <!-- Favicon for web page. -->
  </head>
  <body>
    <div class="main-container template">
      <!--Banner section-->
      <div class="banner">
        <div class="banner-overlay"></div> <!-- Overlay for the banner -->
        <div class="inside-container top-bar">
          <div class="row">
            <div class="col-md-4 top-bar-left order-2 order-md-12">
              <i class="fas fa-envelope-open-text"></i> 
              <a href="mailto:info@webdomus.net">info.com</a> <!-- Contact email link -->
            </div>    
            <div class="col-md-4 logo order-1 order-md-12">
              <img class="logo-img" src="../static/img/logo.png" alt="SymptoTrack logo image"> <!-- Logo image -->
            </div> 
            <div class="col-md-4 top-bar-right order-3 order-md-12">
              <i class="fas fa-phone-alt"></i> 
              <a href="tel:+39.0874.484661">+1 (785)979-7294</a> <!-- Contact phone link -->
            </div>       
          </div>      
        </div>
        <div class="inside-container banner-content">
          <div class="row">
            <div class="col-12 content-col">
              <h1 class="site-title">Be peaceful in mind and healthy in Body!</h1> <!-- Main site title -->
              <p class="site-title-desc">At solmen va esser necessi fa uniform grammatica, pronunciation plu sommun paroles.</p> <!-- Site title description -->
            </div>
          </div>
        </div>
      </div>
     
      
    
    <!-- Form section -->
      <!---This form will ask for user First name, last name, email, and password in order to sign up for the website--->
    <div class="inside-container form-section">
      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label for="firstName">First Name</label> <!-- Label for first name input -->
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"> <!-- First name input field -->
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label> <!-- Label for last name input -->
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"> <!-- Last name input field -->
            </div>
            <div class="form-group">
              <label for="email">Email</label> <!-- Label for email input -->
              <input type="email" class="form-control" id="email" name="email" placeholder="Email"> <!-- Email input field -->
            </div>
            <div class="form-group">
              <label for="password">Password</label> <!-- Label for password input -->
              <input type="password" class="form-control" id="password" name="password" placeholder="Password"> <!-- Password input field -->
            </div>
            <a href="More%20info.htmlml" class="btn btn-primary">Sign Up</a> <!-- Sign-in button -->
            <div class="form-group">
            </div>
          </form>
        </div>
      </div>
    </div>
     
      <!--Copyright-->
      <footer class="footer">
        <div class="copyright">
          <div class="inside-container">
            <div class="row">
              <div class="col-md-6 order-2 order-md-12">
                <p>&copy; 2023 All Rights Reserved. Created by <a href="" class="created-by"></a></p> <!-- Copyright notice -->
              </div>
              <div class="col-md-6 social order-1 order-md-12">                
                <a href="#"><i class="fab fa-facebook-f"></i></a> <!-- Social media icons -->
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> <!-- Include jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> <!-- Include Popper.js library -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script> <!-- Include Bootstrap JavaScript -->
  </body>
</html>
