<!--Name of Code artifact: Journal_output.html
Description: This code is responsible for displaying the user daily journal data
Authors: Freshta Z
Date Creation : October 28, 2023
Date Revised: March 24, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->
{% extends "base.html" %}


{% block content%}

        <!-- The overall section for the journal part of the webpage -->
        <div class="container my-5">
            <!-- Header for the journal section with centered text -->
            <div class="header text-center">
                <!-- The title of the journal section -->
                <h1 class="text-dark">Daily Journal</h1>
            </div>

            <!-- Static display of journal data -->
<div class="row my-3">
  <div class="col-md-6">
      <!-- Displaying the user's selected date -->
      <p><strong>Date:</strong> [User's selected date]</p>
  </div>
  <div class="col-md-6">
      <!-- Displaying the user's input weather -->
      <p><strong>Weather:</strong> [User's input weather]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
      <!-- Displaying the user's to-do list -->
      <p><strong>To Do List:</strong> [User's to-do list]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-6">
      <!-- Displaying the user's input mood -->
      <p><strong>Mood:</strong> [User's input mood]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
      <!-- Displaying what the user is grateful for -->
      <p><strong>Today, I'm Grateful for:</strong> [User's input gratitude]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
      <!-- Displaying the user's input goals -->
      <p><strong>Goals:</strong> [User's input goals]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
      <!-- Displaying the user's additional notes -->
      <p><strong>Notes:</strong> [User's additional notes]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
      <!-- Displaying the user's plans for tomorrow -->
      <p><strong>For Tomorrow:</strong> [User's plans for tomorrow]</p>
  </div>
</div>


            <!-- Link to return to the input form or homepage -->
            <!-- <a href="journal.html" class="btn btn-primary">Edit Journal</a> -->
            <button type="submit">Edit Journal</button>
             
        </div>

        {% endblock %}
