<!--Name of Code artifact: Journal_output.html
Description: This code is responsible for displaying the user daily journal data
Authors: Freshta Z
Date Creation : October 28, 2023
Date Revised: April  7, 2023
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->
{% extends "base.html" %}


{% block content%}
<!-- The overall section for the journal part of the webpage -->
<div class="container my-5">
    <!-- Header for the journal section with centered text -->
    <div class="header text-center">
        <!-- The title of the journal section -->
        <h1 class="text-dark">Daily Journal</h1>
    </div>

    <!-- Date selection form -->
    <form method="POST" class="mb-3">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label for="selectedDate" class="sr-only">Select Date:</label>
                <input type="date" class="form-control" id="selectedDate" name="selected_date">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <!-- Display selected date -->
    {% if selected_date %}
    <div class="row my-3">
        <div class="col-md-12">
            <p><strong>Selected Date:</strong> {{ selected_date }}</p>
        </div>
    </div>
    {% endif %}

    <!-- Iterate over journal entries -->
    {% if journal_entries %}
    <div class="row justify-content-center">
        {% for entry in journal_entries %}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Date: {{ entry.journal_date }}</h5>
                    <p class="card-text"><strong>Weather:</strong> {{ entry.weather }}</p>
                    <p class="card-text"><strong>Mood:</strong> {{ entry.mood }}</p>
                    <p class="card-text"><strong>Grateful:</strong> {{ entry.grateful }}</p>
                    <p class="card-text"><strong>Goals:</strong> {{ entry.goals }}</p>
                    <p class="card-text"><strong>Notes:</strong> {{ entry.notes }}</p>
                    <p class="card-text"><strong>For Tomorrow:</strong> {{ entry.tomorrow }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>



{#</div>#}
{#            <!-- Link to return to the input form or homepage -->#}
{#            <!-- <a href="journal.html" class="btn btn-primary">Edit Journal</a> -->#}
{#            <button type="submit">Edit Journal</button>#}
{#             #}
{#        </div>#}

        {% endblock %}
