<!--Name of Code artifact: Journal_output.html
Description: This code is responsible for displaying the user daily journal data
Authors: Freshta Z
Date Creation : October 28, 2023
Date Revised: February 25, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"> <!-- Set the character encoding to UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Define viewport settings for responsive design -->
    <meta name="description" content="Free Template"> <!-- Meta description for SEO -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css"> <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css"> <!-- Include Bootstrap Grid CSS -->

    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css"> <!-- Include a custom stylesheet (normalize) -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"> <!-- Include a custom stylesheet (style) -->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"> <!-- Include a custom stylesheet (responsive) -->
    
    <!--Font-->
    <link rel="stylesheet" type="text/css" href="../static/font/web-font.css"> <!-- Include web fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet"> <!-- Include Font Awesome icons -->

    <title>SymptoTrack</title> <!-- Set the title of the webpage -->
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico"> <!-- Favicon for web page. -->
  </head>
  <body>
    <div class="main-container template">
      <!--Banner section-->
      <div class="banner">
        <div class="banner-overlay"></div> <!-- Overlay for the banner -->
        <div class="inside-container top-bar">
          <div class="row">
            <div class="col-md-4 top-bar-left order-2 order-md-12">
              <i class="fas fa-envelope-open-text"></i> 
              <a href="mailto:info@webdomus.net">info.com</a> <!-- Contact email link -->
            </div>    
            <div class="col-md-4 logo order-1 order-md-12">
              <a href="/homepage/">
                <img class="logo-img" src="../static/img/logo.png" alt="SymptoTrack Logo"> <!-- Logo image -->
              </a>
            </div> 
            <div class="col-md-4 top-bar-right order-3 order-md-12">
              <i class="fas fa-phone-alt"></i> 
              <a href="tel:+39.0874.484661">+1 (785)979-7294</a> <!-- Contact phone link -->
              <p id="date"></p>
            </div>       
          </div>      
        </div>
        <div class="inside-container banner-content">
          <div class="row">
            <div class="col-12 content-col">
              <h1 class="site-title">Be peaceful in mind and healthy in Body!</h1> <!-- Main site title -->
              <p class="site-title-desc">At solmen va esser necessi fa uniform grammatica, pronunciation plu sommun paroles.</p> <!-- Site title description -->
            </div>
          </div>
        </div>
      </div>

        <!-- The overall section for the journal part of the webpage -->
        <div class="container my-5">
            <!-- Header for the journal section with centered text -->
            <div class="header text-center">
                <!-- The title of the journal section -->
                <h1 class="text-dark">Daily Journal</h1>
            </div>

            <!-- Static display of journal data -->
<div class="row my-3">
  <div class="col-md-6">
      <!-- Displaying the user's selected date -->
      <p><strong>Date:</strong> [User's selected date]</p>
  </div>
  <div class="col-md-6">
      <!-- Displaying the user's input weather -->
      <p><strong>Weather:</strong> [User's input weather]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
      <!-- Displaying the user's to-do list -->
      <p><strong>To Do List:</strong> [User's to-do list]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-6">
      <!-- Displaying the user's input mood -->
      <p><strong>Mood:</strong> [User's input mood]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
      <!-- Displaying what the user is grateful for -->
      <p><strong>Today, I'm Grateful for:</strong> [User's input gratitude]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
      <!-- Displaying the user's input goals -->
      <p><strong>Goals:</strong> [User's input goals]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
      <!-- Displaying the user's additional notes -->
      <p><strong>Notes:</strong> [User's additional notes]</p>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
      <!-- Displaying the user's plans for tomorrow -->
      <p><strong>For Tomorrow:</strong> [User's plans for tomorrow]</p>
  </div>
</div>


            <!-- Link to return to the input form or homepage -->
            <!-- <a href="journal.html" class="btn btn-primary">Edit Journal</a> -->
            <button type="submit">Edit Journal</button>
             
        </div>

        <!--Copyright-->
        <footer class="footer">
          <div class="copyright">
            <div class="inside-container">
              <div class="row">
                <div class="col-md-6 order-2 order-md-12">
                  <p>&copy; 2023 All Rights Reserved. Created by SymptoTrack<a href="" class="created-by"></a></p> <!-- Copyright notice -->
                </div>
                <div class="col-md-6 social order-1 order-md-12">                
                  <a href="#"><i class="fab fa-facebook-f"></i></a> <!-- Social media icons -->
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>    
      <!-- Optional JavaScript -->
    <script src="../static/js/jquery.js"></script> <!-- new jquery 12.3, Sarah -->
    <script src="../static/js/scripts.js"></script> <!-- establishes script.js connection, Sarah -->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    </body>
  </html>
