<!--Name of Code artifact: Journal_input.html
Description: This code is responsible for getting the user daily journal data
Authors: Freshta Z
Date Creation : October 28, 2023
Date Revised: April  7, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->
{% extends "base.html" %}


{% block content%}
     
      <!-- The overall section for the journal part of the webpage -->
<div class="container my-5">
    <form name="journal_input" method="POST">

    <div class="header text-center">
        <h1 class="text-dark">Daily Journal</h1>
    </div>

    <!-- Row for input fields: Date and Weather -->
    <div class="row my-3">
        <div class="col-md-6">
            <input type="date" class="form-control" placeholder="Date :" name="journal_date">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="How was the Weather Today?" name="weather">
        </div>
    </div>

{#    <!-- Row for the To Do List input field -->
    <div class="row my-3">
        <!-- Full-width column for the To Do List input -->
        <div class="col-12">
            <!-- Input field for the To Do List -->
            <input type="text" class="form-control input-text" placeholder="To Do List">
        </div>
    </div>#}

    <!-- Row for the Mood input field -->
    <div class="row my-3">
        <div class="col-md-6">
            Mood:
            <input type="text" class="form-control input-text" placeholder="How are you feeling today?" name="mood">
        </div>

    </div>

    <!-- Row for the Grateful input field -->
    <div class="row my-3">
        <div class="col-12">
            <textarea class="form-control input-textarea" placeholder="Today, I'm Grateful for" name="grateful"></textarea>
        </div>
    </div>

    <!-- Row for the Goals input field -->
    <div class="row my-3">
        <div class="col-12">
            <input type="text" class="form-control input-text" placeholder="Enter some personal Goals" name="goals">
        </div>
    </div>

    <!-- Row for the Notes textarea -->
    <div class="row my-3">
        <div class="col-12">
            <textarea class="form-control input-textarea" placeholder="Notes" name="notes"></textarea>
        </div>
    </div>

    <!-- Row for the For Tomorrow input field -->
    <div class="row my-3">
        <div class="col-12">
            <input type="text" class="form-control input-text" placeholder="For Tomorrow" name="tomorrow">
        </div>
    </div>
    <!-- Button to submit the journal form, linking to the homepage -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

     {% endblock %}
