<!--Name of Code artifact: Journal.html
Description: This code is responsible for showing two options for user, view and add journal.
Authors: Freshta Z
Date Creation : October 28, 2023
Date Revised: April  7, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->


{% extends "base.html" %}


{% block content%}   

<!-- Section container for the Journal feature -->
<div class="trainer-section">
  <!-- Title row for the Journal section -->
  <div class="row sections-detail">
      <div class="col-12">
          <!-- Heading for the Journal section -->
          <h2 class="section-title" style="color: #ff6384;">Journal</h2>
          <!-- Description for the Journal section (currently empty) -->
          <p class="section-title-desc"></p>
      </div>
  </div>
  <!-- Container for the inner content of the Journal section -->
  <div class="inside-container">
      <!-- Row containing the options for viewing and adding journal entries -->
      <div class="row trainer-col">
          
          <!-- Column for the "View" option -->
          <div class="col-lg-6">
              <!-- Container for the image associated with the "View" option -->
              <div class="trainer-img">
                  <!-- Image for the "View" option -->
                  <img src="../static/img/view.jpg" class="trainer-in-img" alt="">
              </div>
              <!-- Link and title for the "View" option -->
              <a href="/journal_output/"><h3 class="trainer-title">View</h3></a>
              <!-- Description for the "View" option -->
              <p class="trainer-desc">View daily journal</p>
          </div> 
          
          <!-- Column for the "Add" option -->
          <div class="col-lg-6">
              <!-- Container for the image associated with the "Add" option -->
              <div class="trainer-img">
                  <!-- Image for the "Add" option -->
                  <img src="../static/img/add.png" class="trainer-in-img" alt="">
              </div>
              <!-- Link and title for the "Add" option -->
              <a href="/journal_input/"><h3 class="trainer-title">Add</h3></a>
              <!-- Description for the "Add" option -->
              <p class="trainer-desc">Add daily journal</p>
          </div>

      </div>
  </div>
</div>

{% endblock %}
