<!--Name of Code artifact: log_options.html
Description: This code is responsible for showing two options for user, log symptoms on a scale or answer questionnaire
Authors: Ava Greene, Freshta Z
Date Creation : Dec 3, 2023
Date Revised: March 24, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->

{% extends "base.html" %}


{% block content%}
     

<!-- Section container for the symptom input feature -->
<div class="trainer-section">
  <!-- Title row for the symptom input section -->
  <div class="row sections-detail">
      <div class="col-12">
          <!-- Heading for the symptom input section -->
          <h2 class="section-title">Symptom Input</h2>
          <!-- Description for the symptom input section (currently empty) -->
          <p class="section-title-desc"></p>
      </div>
  </div>
  <!-- Container for the inner content of the symptom input section -->
  <div class="inside-container">
      <!-- Row containing the options -->
      <div class="row trainer-col">
          
          <!-- Column for the log option -->
          <div class="col-lg-6">
              <!-- Container for the image associated with the log option -->
              <div class="trainer-img">
                  <!-- Image for the log option -->
                  <img src="../static/img/red-purple.png" class="trainer-in-img" alt="">
              </div>
              <!-- Link and title for the log option -->
              <a href="/symptom_input/"><h3 class="trainer-title">Log</h3></a>
              <!-- Description for the log option -->
              <p class="trainer-desc">Log Symptom on a Scale</p>
          </div> 
          
          <!-- Column for the question option -->
          <div class="col-lg-6">
              <!-- Container for the image associated with the question option -->
              <div class="trainer-img">
                  <!-- Image for the question option -->
                  <img src="../static/img/red-purple.png" class="trainer-in-img" alt="">
              </div>
              <!-- Link and title for the question option -->
              <a href="/questionnaire/"><h3 class="trainer-title">Questionnaire</h3></a>
              <!-- Description for the question option -->
              <p class="trainer-desc">Answer Symptom Questions</p>
          </div>

      </div>
  </div>
</div>

  {% endblock %}
