<!--Name of Code artifact: Meds.html
Description: This code is responsible for displaying user medication data.
Authors: Freshta Z, Fatima A
Date Creation : October 19, 2023
Date Revised: Macrh 24, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->
{% extends "base.html" %}

{% block content %}
  <div class="page-content">
    <!-- Medications -->
    <div class="trainer-section medsList">
      <div class="row sections-detail">
        <div class="col-12">
          <h2 class="section-title">Medications</h2>
        </div>
      </div>
      <div class="inside-container">
        <div class="row trainer-col">
          <div class="col-12">
            <h3 class="section-subheading">Currently Taking</h3>
          </div>
          <div class="meds-container">
            {% for med in meds %}
              <div class="col-lg-3">
                <div class="trainer-img">
                  <img src="../static/img/med-1.png" class="trainer-in-img" alt="">
                </div>
                <a href="/meds_info/{{ med['_id'] }}"><h3 class="trainer-title">{{ med['GenericName'] }}</h3></a>
                <p class="trainer-desc">{{ med['Strength'] }} {{ med['MedicationForm'] }}</p>
              </div>
            {% endfor %}
            <!-- Add medication button -->
            <div class="col-lg-3">
              <div class="trainer-img">
                <img src="../static/img/plus_icon.png" class="trainer-in-img" alt="">
              </div>
              <a href="/meds_input/"><h3 class="trainer-title">Add Medication</h3></a>
              <p class="trainer-desc"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
