<!--Name of Code artifact: Meds.html
Description: This code is responsible for getting the user medication data.
Authors: Freshta Z, Fatima A
Date Creation : October 18, 2023
Date Revised: March 24, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->
{% extends "base.html" %}


{% block content%}
     
      <div class="page-content">
        <!-- Form section -->
        <div class="inside-container form-section">
          <div class="row sections-detail">
            <div class="col-12">
              <h2 class="section-title">New Medication</h2>
            </div>
          </div>
          <form>
            <div class="form-group">
              <label for="BrandName">Brand Name</label> <!-- Label for Brand name input -->
              <input type="text" id="BrandName" name="BrandName" placeholder="The commercial name given by the manufacturer" required> <!-- brand name input field -->
            </div>
            <div class="form-group">
              <label for="GenericName">Generic Name</label> <!-- Label for Generic Name input -->
              <input type="text" id="GenericName" name="GenericName" placeholder=" The standard name of the medicine"> <!-- Generic Name input field -->
            </div>
            <div class="form-group">
              <label for="Strength">Strength</label> <!-- Label for the strength field -->
                <input type="text" id="Strength" name="Strength" placeholder="Add dosage of medication"> <!--  dosage input field -->
            </div> 
            <div class="form-group">
              <label for="MedicationForm">Medication Form</label> <!-- Label for form of the medication field -->
              <select id="MedicationForm" name="MedicationForm">
                <!-- Option elements for each category -->
                <option value="Tablet">Tablet</option>
                <option value="Capsule">Capsule</option>
                <option value="Liquid solution">Liquid solution (syrups, drops)</option>
                <option value="Suspension">Suspension</option>
                <option value="Injection">Injection/Injectable solution</option>
                <option value="Infusion">Infusion (for intravenous delivery)</option>
                <option value="Topical forms">Topical forms (creams, gels, ointments, patches)</option>
                <option value="Inhalers">Inhalers (aerosol sprays, dry powder)</option>
                <option value="Suppositories">Suppositories</option>
                <option value="Powders">Powders</option>
                <option value="Lozenges">Lozenges</option>
                <option value="Films">Films (dissolvable)</option>
                <option value="Implants">Implants</option>
                <option value="Sprays">Sprays (nasal, oral)</option>
              </select>
            </div>
            <div class="form-group">
              <label for="DosingSchedule">Dosing Schedule</label> <!-- Label for dosing schedule input -->
              <input type="text" id="DosingSchedule" name="DosingSchedule" placeholder="Dosing Schedule"> <!-- Dosing Schedule input field -->
            </div>    
            <div class="form-group">
              <label for="Comment"> Instructions</label> <!-- Label for Comment  input -->
              <input type="text" id="Instruction" name="Instruction" rows="3" placeholder="Additional Instruction"> <!--  Comment input field -->
            </div>
            <!-- Submit Button -->
            <a href="/meds_list/">
              <button type="submit">Submit</button>
            </a>
          </form>
        </div>
      </div>
      {% endblock %}
