<!--Name of Code artifact: Meds.html
Description: This code is responsible for getting the user medication data.
Authors: Freshta Z, Fatima A
Date Creation : October 18, 2023
Date Revised: March 24, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->
{% extends "base.html" %}


{% block content%}
     
      <div class="page-content">
        <!-- Info section -->
        <div class="inside-container form-section">
            <!-- Container for form image -->
            <div class="row">
                <div class="form-img">
                    <img src="../../static/img/med-1.png" class="form-img" alt="">
                </div>
            </div>
            <!-- Title row for Info section -->
            <div class="row sections-detail">
                <div class="col-12">
                    <h2 class="section-title">Medication Name</h2>
                    <h2 class="section-subheading">Strength</h2>
                </div>
            </div>
            <div class="container my-5">
                <!-- Static display for med info -->
                <div class="row my-3">
                    <div class="col-12">
                        <!-- Displays Med generic name -->
                        <p><strong>Generic Name:</strong> [Generic Name]</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12">
                        <!-- Displays Med form -->
                        <p><strong>Medication Form:</strong> [Medication Form]</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12">
                        <!-- Displays Med dosing schedule -->
                        <p><strong>Dosing Schedule:</strong> [Dosing Schedule]</p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12">
                        <!-- Displays Med instructions -->
                        <p><strong>Instructions:</strong> [Additional Instructions]</p>
                    </div>
                </div>
            </div>
        </div>
     
        {% endblock %}
