<!--Name of Code artifact: Symtotrack.html
Description: This code is responsible for getting the user age and contact information.
Authors: Freshta Zaheer
Date Creation : October 2, 2023
Date Revised: March 24, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.


-->
{% extends "base.html" %}


{% block content%}
     
      
    
    <!-- Form section -->
      <!-----This form will ask for additional information from user, such as contact infomation and user's age---->
    <div class="inside-container form-section">
      <div class="row">
        <div class="col-md-6">
          <h3 class="display-5">Tell us more about yourself</h3> <!-- Section heading -->
          <form>
            <div class="form-group">
              <label for="contactNumber">Contact Number</label> <!-- Label for contact number input -->
              <input type="tel" class="form-control" id="contactNumber" name="contactNumber" placeholder="Contact Number"> <!-- Contact number input field -->
            </div>
            <div class="form-group">
              <label for="age">Age</label> <!-- Label for age input -->
              <input type="number" class="form-control" id="age" name="age" placeholder="Age" min="0"> <!-- Age input field with minimum value 0 -->
            </div>
                        <a href="/homepage/" class="btn btn-primary">Submit </a>  <!-- Submit button -->
          </form>
        </div>
      </div>
    </div>
     

    {% endblock %}
