<!--Name of Code artifact: questionnaire.html
Description: This code asks the user questions about their symptom.
Authors: Ava G
Date Creation : November 17, 2023
Date Revised: April 21, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values.
-->
{% extends "base.html" %}


{% block content%}


<!-- display -->
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #333;
            background-color: #f4f4f4;
            padding-top: 20px;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1, h2, h3, h4, h5, h6 {
            color: #333;
        }

        .form-check-label {
            margin-left: 5px;
        }

        .form-control, .form-check-input {
            margin-bottom: 10px;
        }

        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            color: #fff;
            background-color: #0056b3;
            border-color: #004085;
        }

        .form-section {
            margin-bottom: 30px;
        }

        .form-section-header {
            margin-bottom: 10px;
            font-weight: bold;
        }

        .checkbox-grid {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 10px; /* Spacing between grid items */
}

.form-check {
    display: flex; /* Use flexbox to align checkbox and label */
    align-items: center; /* Align the checkbox and label vertically */
}

.button-container {
    display: flex;       /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically (if the container has a specific height) */
    height: 100px;           /* Example height, you can adjust this as needed */
}
#result {
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        background-color: #8229F2 ;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
}

#result:hover {
    background-color: #F85781;
}


    </style>
<body>

    <div class="container">
      <!-- page heading -->
      <h2 class="section-title">Questionnaire</h2>
        <!-- page subheading -->
        <p class="text-center">Please answer any relevant questions. You can leave questions that do not pertain to you blank.</p>

        <form>
          <!-- section for pain duration -->
            <div class="form-section">
                <h4 class="form-section-header">Pain Duration</h4>
                <input type="date" class="form-control" id="Date" name="Date" min="0" placeholder="What is the date today? ">
                <input type="number" class="form-control" id="walkPainFree" name="walkPainFree" min="0" placeholder="How many minutes can you walk without pain (or without pain worsening)?">
                <input type="number" class="form-control" id="standPainFree" name="standPainFree" min="0" placeholder="How many minutes can you stand without pain (or without pain worsening)?">
                <input type="number" class="form-control" id="sitPainFree" name="sitPainFree" min="0" placeholder="How many minutes can you sit without pain (or without pain worsening)?">
            </div>

            <!-- section for pain areas -->
            <div class="form-section">
                <h4 class="form-section-header">Pain Areas</h4>
                <div class="checkbox-grid">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="back" name="painAreas" value="back">
                    <label class="form-check-label" for="back">Back</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="shoulders" name="painAreas" value="shoulders">
                    <label class="form-check-label" for="shoulders">Shoulders</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="knees" name="painAreas" value="knees">
                    <label class="form-check-label" for="knees">Knees</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="neck" name="painAreas" value="neck">
                    <label class="form-check-label" for="neck">Neck</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="otherCheckbox" name="painAreas" value="other">
                    <label class="form-check-label" for="otherCheckbox">Other</label>
                    <input type="text" class="form-control" id="otherText" name="otherText" placeholder="Please specify" style="display: none;">
                </div>
               </div>
            </div>
            <!-- section for pain description -->
            <div class="form-section">
                <h4 class="form-section-header">Pain Description</h4>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="sleepDisturbance" name="painType" data-points="1">
                    <label class="form-check-label" for="sleepDisturbance">Has the pain kept you from sleeping?</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="aching" name="painType" value="aching" data-points="1">
                    <label class="form-check-label" for="aching">Aching</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="sharp" name="painType" value="sharp" data-points="2">
                    <label class="form-check-label" for="sharp">Sharp</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="dull" name="painType" value="dull" data-points="1">
                    <label class="form-check-label" for="dull">Dull</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="shooting" name="painType" value="shooting" data-points="2">
                    <label class="form-check-label" for="shooting">Shooting</label>
                </div>
            </div>
            <!-- section for pain frequency and location -->
            <div class="form-section">
                <h4 class="form-section-header">Pain Frequency and Location</h4>
                <select class="form-control" id="painFrequency" name="painFrequency">
                    <option value="never" data-points="0">Never</option>
                    <option value="constant" data-points="4">Constant</option>
                    <option value="occasional" data-points="1">Occasional</option>

                </select>
                <select class="form-control" id="painLocation" name="painLocation">
                    <option value="nowhere" data-points="0">No pain</option>
                    <option value="stationary" data-points="1">Stays in one place</option>
                    <option value="radiate" data-points="2">Radiates</option>
                </select>
            </div>
            <div class="button-container">
                <button type="submit">Submit</button>
            </div>

        </form>
        <!-- <div id="result"></div> -->
        <div id="result">Result: <span id="resultValue"></span></div>
    </div>
    <script>
        function toggleOtherTextbox() {
            var checkbox = document.getElementById("otherCheckbox");
            var text = document.getElementById("otherText");
            text.style.display = checkbox.checked ? "block" : "none";
        }
        document.getElementById("otherCheckbox").addEventListener('change', toggleOtherTextbox);
    </script>
    <script>
        document.getElementById('otherCheckbox').addEventListener('change', toggleOtherTextbox);

        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission
            createPainScore();
        });

        function pointCalculator(minutes, points)
        {
            if (minutes < 10)
            {
                points = 6;
            }
            else if (minutes < 20)
            {
                points = 4;
            }
            else if (minutes < 40)
            {
                points = 2;
            }
            else
            {
                points = 1;
            }

            return (points);
        }

        function createPainScore(){
            var walk = document.getElementById('walkPainFree').value;
            var stand = document.getElementById('standPainFree').value;
            var sit = document.getElementById('sitPainFree').value;

            q1 = pointCalculator(walk);
            q2 = pointCalculator(stand);
            q3 = pointCalculator(sit);

            var painAreas = [];
            document.querySelectorAll('input[name="painAreas"]:checked').forEach(function(checkbox) {
            painAreas.push(checkbox.value);
            });

            var q4 = painAreas.length;

            var q5 = 0;
            document.querySelectorAll('input[name="painType"]:checked').forEach(function(checkbox) {
                q5 += parseInt(checkbox.getAttribute('data-points'), 10); // Add points for each checked box
            });

            var q6 = 0;
            var painFrequencyPoints = parseInt(document.querySelector('#painFrequency option:checked').getAttribute('data-points'), 10);
            q6 += painFrequencyPoints;

            var q7 = 0;
            var painLocationPoints = parseInt(document.querySelector('#painLocation option:checked').getAttribute('data-points'), 10);
            q7 += painLocationPoints;

            totalPoints = q1 + q2 + q3 + q4 + q5 + q6 + q7;

            document.getElementById('result').innerHTML = 'Result: ' + totalPoints;
        }

    </script>
</body>
{% endblock %}
