<!--Name of Code artifact: symptom_input.html
Description: This code is responsible for getting the user's pain input.
Authors: Ava G, Sree Kondi, Sarah M
Date Creation : October 15, 2023
Date Revised: March 24, 2024
Preconditions: Empty Strings are not allowed.
Postconditions: No return values. -->


      
{% extends "base.html" %}


{% block content%}
      <!DOCTYPE html>
      <html>
      <head>
          <title>Symptom Input Page</title>
      </head>
      <style>
        form {
            text-align: center;
            font-size: 25px; /* You can adjust the font size as needed */
        }
      </style>
      <!--Page Heading-->
      <br>
      <p style="text-align:center; font-size: 30px; font-family: Roboto Slab;">Symptom Input</p>
      <br>
      <br>
      <br>
      <!--Creating the slider-->

      
      <br>

        <div class="container my-5">
          <form name="symptom_input" method="POST" id="painForm">
            <!-- Creating the slider -->
            <label for="slider">Rank your pain from one to ten:</label>
            <input type="range" id="slider" name="pain_input" min="0" max="10" step="1" value="0">
            <output for="slider" id="sliderValue">0</output><br><br>

            <div class="row my-3">
              <div class="col-md-6">
                <input type="date" class="form-control" placeholder="Date :" name="pain_date" required>
              </div>
            </div>

            <!-- Giving user the ability to write a description -->
            <div class="row my-3">
              <div class="col-12">
                <input type="text" class="form-control input-text" placeholder="Pain Description" name="pain_description">
              </div>
            </div>

            <!-- Submit button -->
            <div class="container my-5">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <!-- Error message container -->
            <div class="container my-3">
              <p class="error-message text-danger" style="display: none;"></p>
            </div>
          </form>
        </div>

        <script>
    // Update slider value display dynamically
    document.getElementById('slider').addEventListener('input', function() {
        document.getElementById('sliderValue').textContent = this.value;
    });
        </script>


      </html>
  {% endblock %}
