<!--Name of Code artifact: symptom_input.html
Description: This code is responsible for getting the user's pain input.
Authors: Ava G, Sree Kondi
Date Creation : October 15, 2023
Date Revised: March 17, 2023
Preconditions: Empty Strings are not allowed.
Postconditions: No return values. -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"> <!-- Set the character encoding to UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Define viewport settings for responsive design -->
    <meta name="description" content="Free Template"> <!-- Meta description for SEO -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css"> <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css"> <!-- Include Bootstrap Grid CSS -->

    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/normailze.css"> <!-- Include a custom stylesheet (normalize) -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"> <!-- Include a custom stylesheet (style) -->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"> <!-- Include a custom stylesheet (responsive) -->
    
    <!--Font-->
    <link rel="stylesheet" type="text/css" href="../static/font/web-font.css"> <!-- Include web fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet"> <!-- Include Font Awesome icons -->

    <title>SymptoTrack</title> <!-- Set the title of the webpage -->
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico"> <!-- Favicon for web page. -->
  </head>
  <body>
    <div class="main-container template">
      <!--Banner section-->
      <div class="banner">
        <div class="banner-overlay"></div> <!-- Overlay for the banner -->
        <div class="inside-container top-bar">
          <div class="row">
            <div class="col-md-4 top-bar-left order-2 order-md-12">
              <i class="fas fa-envelope-open-text"></i> 
              <a href="mailto:info@webdomus.net">info.com</a> <!-- Contact email link -->
            </div>    
            <div class="col-md-4 logo order-1 order-md-12">
              <a href="/homepage/">
                <img class="logo-img" src="../static/img/logo.png" alt="SymptoTrack Logo"> <!-- Logo image -->
              </a>
            </div> 
            <div class="col-md-4 top-bar-right order-3 order-md-12">
              <i class="fas fa-phone-alt"></i> 
              <a href="tel:+39.0874.484661">+1 (785)979-7294</a> <!-- Contact phone link -->
            </div>       
          </div>      
        </div>
        <div class="inside-container banner-content">
          <div class="row">
            <div class="col-12 content-col">
              <h1 class="site-title">Be peaceful in mind and healthy in Body!</h1> <!-- Main site title -->
            </div>
          </div>
        </div>
      </div>
     
      
      <!DOCTYPE html>
      <html>
      <head>
          <title>Symptom Input Page</title>
      </head>
      <style>
        form {
            text-align: center;
            font-size: 25px; /* You can adjust the font size as needed */
        }
      </style>
      <!--Page Heading-->
      <br>
      <p style="text-align:center; font-size: 30px; font-family: Roboto Slab;">Symptom Input</p>
      <br>
      <br>
      <br>
      <!--Creating the slider-->

      
      <br>

        <div class="container my-5">
          <form name="symptom_input" method="POST" id="painForm">
            <!-- Creating the slider -->
            <label for="slider">Rank your pain from one to ten:</label>
            <input type="range" id="slider" name="pain_input" min="0" max="10" step="1" value="0">
            <output for="slider" id="sliderValue">0</output><br><br>

            <div class="row my-3">
              <div class="col-md-6">
                <input type="date" class="form-control" placeholder="Date :" name="pain_date" required>
              </div>
            </div>

            <!-- Giving user the ability to write a description -->
            <div class="row my-3">
              <div class="col-12">
                <input type="text" class="form-control input-text" placeholder="Pain Description" name="pain_description">
              </div>
            </div>

            <!-- Submit button -->
            <div class="container my-5">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <!-- Error message container -->
            <div class="container my-3">
              <p class="error-message text-danger" style="display: none;"></p>
            </div>
          </form>
        </div>



        <script>
    // Update slider value display dynamically
    document.getElementById('slider').addEventListener('input', function() {
        document.getElementById('sliderValue').textContent = this.value;
    });
        </script>
      </html>
      

     
      <!--Copyright-->
      <footer class="footer">
        <div class="copyright">
          <div class="inside-container">
            <div class="row">
              <div class="col-md-6 order-2 order-md-12">
                <p>&copy; 2023 All Rights Reserved. Created by SymptoTrack<a href="" class="created-by"></a></p> <!-- Copyright notice -->
              </div>
              <div class="col-md-6 social order-1 order-md-12">                
                <a href="#"><i class="fab fa-facebook-f"></i></a> <!-- Social media icons -->
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>    
    <!-- Optional JavaScript -->
    <script src="../static/js/jquery.js"></script> <!-- new jquery 12.3, Sarah -->
    <script src="../static/js/scripts.js"></script> <!-- establishes script.js connection, Sarah -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>

